<head>
    <title>Digifolk</title>
</head>

<body>
    <h1>Segmenter</h1>
    <p>Please, introduce the name of the song to ask the desired model.</p>
    
    <h1>Segmenter with prompt</h1>

    <h2>Llama2</h2>
    <input value="Song Name" type="text" id="segmenter_llama2" name="segmenter_llama2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_llama2')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_llama2" name="segmenter_llama2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPostWLyrics('segmenter_llama2')">Segment</button>
    <div id="segmenter_llama2_response">
        <p id="responseText"></p>
    </div>
    
    <h2>Gemma3</h2>
    <input value="Song Name" type="text" id="segmenter_gemma3" name="segmenter_gemma3" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_gemma3')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_gemma3" name="segmenter_gemma3" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPostWLyrics('segmenter_gemma3')">Segment</button>
    <div id="segmenter_gemma3_response">
        <p id="responseText"></p>
    </div>

    <h2>StableLM2</h2>
    <input value="Song Name" type="text" id="segmenter_stablelm2" name="segmenter_stablelm2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_stablelm2')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_stablelm2" name="segmenter_stablelm2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPostWLyrics('segmenter_stablelm2')">Segment</button>
    <div id="segmenter_stablelm2_response">
        <p id="responseText"></p>
    </div>
    
    <h1>Segmenter with prompt</h1>

    <h2>Llama2</h2>
    <input value="Song Name" type="text" id="segmenter_llama2" name="segmenter_llama2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_llama2')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_llama2" name="segmenter_llama2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPostWLyrics('segmenter_llama2')">Segment</button>
    <div id="segmenter_llama2_response">
        <p id="responseText"></p>
    </div>
    
    <h2>Gemma3</h2>
    <input value="Song Name" type="text" id="segmenter_gemma3" name="segmenter_gemma3" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_gemma3')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_gemma3" name="segmenter_gemma3" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPostWLyrics('segmenter_gemma3')">Segment</button>
    <div id="segmenter_gemma3_response">
        <p id="responseText"></p>
    </div>

    <h2>StableLM2</h2>
    <input value="Song Name" type="text" id="segmenter_stablelm2" name="segmenter_stablelm2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_stablelm2')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_stablelm2" name="segmenter_stablelm2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPostWLyrics('segmenter_stablelm2')">Segment</button>
    <div id="segmenter_stablelm2_response">
        <p id="responseText"></p>
    </div>

    <h1>Segmenter with fine-tuning</h1>

    <h2>Llama2</h2>
    <input value="Song Name" type="text" id="segmenter_llama2" name="segmenter_llama2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_llama2')">Segment</button>
    <input value="Full Song" type="text" id="segmenter_llama2" name="segmenter_llama2" required minlength="4" maxlength="20" size="10" />
    <button onclick="performPost('segmenter_llama2')">Segment</button>
    <div id="segmenter_llama2_response">
        <p id="responseText"></p>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script>
    function showOutput(result, containerName) {
        document.getElementById(containerName+"_response").innerText = result;
    }

    function performPost(segmenterName) {
        document.getElementById(segmenterName+"_response").innerText = "Processing answer...";
        let segmenterTitle = document.getElementById(segmenterName).value;
        $.ajax({
            type: "POST",
            url: "{{ url_for('segmenter_method') }}",
            data: {
                "songTitle": segmenterTitle, 
                "modelName": segmenterName
            },
            success: function (response){
                //let resultText = response.result;
                // let resultText = ""
                // if (response.Verses != undefined && response.Syllables != undefined) {
                //     resultText = "Verses: " + response.Verses;
                //     resultText += "\n\n";
                //     resultText += "Syllables: " + response.Syllables;
                // }
                // else
                //     resultText = "Error: " + response.Error;
                // showOutput(resultText, segmenterName);
                
                resultText = response;
                showOutput(resultText, segmenterName);
            },
            error: function () {
                showOutput("An error occurred.");
            }
        })
    }

    function performPostWLyrics(segmenterName) {
        document.getElementById(segmenterName+"_response").innerText = "Processing answer...";
        let segmenterLyrics = document.getElementById(segmenterName).value;
        $.ajax({
            type: "POST",
            url: "{{ url_for('segmenter_method_lyrics') }}",
            data: {
                "songLyrics": segmenterLyrics, 
                "modelName": segmenterName
            },
            success: function (response){
                //let resultText = response.result;

                // JSON FORMAT
                // let resultText = ""
                // if (response.Verses != undefined && response.Syllables != undefined) {
                //     resultText = "Verses: " + response.Verses;
                //     resultText += "\n\n";
                //     resultText += "Syllables: " + response.Syllables;
                // }
                // else
                //     resultText = "Error: " + response.Error;
                // showOutput(resultText, segmenterName);

                resultText = response;
                showOutput(resultText, segmenterName);
            },
            error: function () {
                showOutput("An error occurred.");
            }
        })

    }
</script>